@model App.Models.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<div id="customBackground">
    <div valign="middle" id="detailView">
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        <hr/>
        <table>
            <tr>
                <th>Category</th>
                <td>@Html.DisplayFor(model => model.Category.CategoryName)</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>@Html.DisplayFor(model => model.Price) $</td>
            </tr>
        </table>

        @{
            if (Model.PhotoId != null)
            {
                <img src="@Url.Action("GetImage", "Products", new {id=Model.PhotoId})" height="200">
            }
            else
            {
                <img src="~/Images/DefaultImages/defaultProduct.png" height="200">
            }
        }
        <hr/>

        @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>

            <dd>
                @{
                    if (Model.PhotoId != null)
                    {
                        <img src="@Url.Action("GetImage", "Products", new {id=Model.PhotoId})" height="200">
                    }
                    else
                    {
                        <img src="~/Images/DefaultImage/defaultImage.jpg" height="200">
                    }
                }
            </dd>
        </dl>*@

        <input type="button" value="BACK TO LIST" onclick="location.href='@Url.Action("Index", "Product")'" />
    </div>
</div>