@model App.Models.ViewModels.Product.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<div id="customBackground">
    <div valign="middle" id="detailView">
        <br />
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        
        <br />
        <table>
            <tr>
                <th>Category</th>
                <td>@Html.DisplayFor(model => model.Category.CategoryName)</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>@Html.DisplayFor(model => model.Price) $</td>
            </tr>
        </table>

        @{
            if (Model.PhotoId != null)
            {
                <img src="@Url.Action("GetImage", "Products", new {id=Model.PhotoId})" height="200">
            }
            else
            {
                <img src="~/Images/DefaultImages/defaultIMG.png" height="200">
            }
        }
        <br />
        <br />
        <input type="button" value="BACK TO LIST" style="background-color:#000000; color:#ffffff;" onclick="location.href='@Url.Action("Index", "Product")'" />
        <br />
        <br />
    </div>
</div>