
@model App.Models.ViewModels.ProductsViewModel

@{
  ViewBag.Title = "Index";
}


<nav class="product-filter">

    <div class="sort">

    </div>

</nav>


<section class="products">

    @foreach (var item in Model.ProductList)
    {
        if (item.Available == false)
        {
            continue;
        }

        <div class="product-card">
            <a href="@Url.Action("Details", "Product", new { id = item.ID })">
                <div class="product-image">
                    @if (item.PhotoId != null)
                    {
                        <img src="@Url.Action("GetImage", "Products", new { id = item.PhotoId })">
                    }
                    else
                    {
                        <img src="~/Images/DefaultImages/defaultProduct.png">
                    }
                </div>
            </a>
            <div class="product-info">
                <h5>@item.Name | @item.Price $</h5>
                <a href="@Url.Action("AddToBasket", "Product", new { id = item.ID })" >
                    <img src="~/Images/Icons/bag.png" height="30">
                </a>
            </div>
        </div>
    }
</section>
