
@using Persistence.Model
@model App.Models.ViewModels.Product.ProductsViewModel

@{
  ViewBag.Title = "Index";
}


<nav role="navigation" class="product-filter">

    <div class="sort">
        @foreach (var category in ViewBag.Categories)
        {
            var cat = category as ProductCategory;

            
            <input type="button" value="@cat.CategoryName" style="background-color:#000000; color:#ffffff;" onclick="location.href='@Url.Action("Filter", "Product", new { id = cat.CategoryName })'" />
        }
        <input type="button" value="Remove Filter" style="width:auto; background-color:#999999; color:#ffffff;" onclick="location.href='@Url.Action("Index", "Product")'" />
    </div>

</nav>


<section class="products">

    @foreach (var item in Model.ProductList)
    {
        if (item.Available == false)
        {
            continue;
        }

        <div class="product-card">
            <a href="@Url.Action("Details", "Product", new { id = item.ID })">
                <div class="product-image">
                    @if (item.PhotoId != null)
                    {
                        <img src="@Url.Action("GetImage", "Products", new { id = item.PhotoId })">
                    }
                    else
                    {
                        <img src="~/Images/DefaultImages/defaultIMG.png">
                    }
                </div>
            </a>
            <div class="product-info">
                <h5>@item.Name | @item.Price $</h5>
                <a href="@Url.Action("AddToBasket", "Product", new { id = item.ID })" >
                    <img src="~/Images/Icons/bag.png" height="30">
                </a>
            </div>
        </div>
    }
</section>
