@using App.Models;

@using Persistence.Model;
@model App.Models.ViewModels.BasketViewModel
@{
    ViewBag.Title = "Index";
}

<div id="customBackground">
    <table>
        <tr>
            <th>
                Photo
            </th>
            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Unit Price
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ProductsInBasket)
        {
            <tr>
                <th>
                    @if (item.Key.PhotoId != null)
                    {
                        <img src="@Url.Action("GetImage", "Products", new { id = item.Key.PhotoId })" width="90">
                    }
                    else
                    {
                        <img src="~/Images/DefaultImages/defaultProduct.png" width="90">
                    }
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Name)
                </td>
                <td>
                    <a href="@Url.Action("RemoveOne", "Basket", new { id = item.Key.ID })">
                        <img src="~/Images/Icons/minus.png" height="20" valign="middle" />
                    </a>
                    @Html.DisplayFor(modelItem => item.Value)
                    <a href="@Url.Action("AddOne", "Basket", new { id = item.Key.ID })">
                        <img src="~/Images/Icons/plus.png" height="20" valign="middle" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Price)
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Basket", new { id = item.Key.ID })">
                        <img src="~/Images/Icons/remove.png" height="30" valign="middle" />
                    </a>
                </td>
            </tr>
        }

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>@Model.Sum $</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4">
                <input type="button" style="background-color:#000000; color:#ffffff;" value="CHECKOUT" onclick="location.href='@Url.Action("OrderProducts", "Basket",  new { id = Model.UserId })'" />
                <input type="button" style="background-color:#000000; color:#ffffff;" value="EMPTY BASKET" onclick="location.href='@Url.Action("EmptyBasket", "Basket")'" />
            </td>
        </tr>
    </table>
</div>