
@using App.Models;
@model App.Models.ViewModels.OrderViewModel
@{
    ViewBag.Title = "ViewDetails";

}

<div id="customBackground">
    <div valign="middle" id="myOrdersView">
        <h2>Order No. @Model.OrderId</h2>

        <table>
            <tr>
                <th>Name</th>
                <td>@Model.FirstName @Model.LastName</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <th>E-mail address</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Date of order</th>
                <td>@Model.Date.ToShortDateString() @Model.Date.ToShortTimeString()</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>@Model.Status</td>
            </tr>
        </table>

        <hr/>

        <table>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>

            @foreach (var entry in Model.Items.Keys)
            {
                <tr>
                    <td>
                        @entry.Name
                    </td>
                    <td>
                        @entry.Quantity
                    </td>
                    <td>
                        @entry.Price
                    </td>
                </tr>
            }

                <tr>
                    <td></td>
                    <td></td>
                    <td>@Model.Sum $</td>
                </tr>
        </table>
    </div>
</div>