
@using App.Models;
@model App.Models.ViewModels.OrderViewModel
@{
    ViewBag.Title = "ViewDetails";

}

@{
    string userID = HelperMethods.GetUserID(User, Session);
}

<div class="container">
    <div>
        <div class="leftside">
            <img src="~/Images/IndexImages/botanique.jpg" alt="img" class="container-img" />
        </div>
        <div class="rightside">
            <div valign="middle" id="myOrdersView">
                <br />
                <h2>Order No.</h2>
                <h1>@Model.OrderId</h1>
                <br />
                <table>
                    <tr>
                        <th>Name</th>
                        <td>@Model.FirstName @Model.LastName</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>@Model.Address</td>
                    </tr>
                    <tr>
                        <th>E-mail address</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th>Date of order</th>
                        <td>@Model.Date.ToShortDateString() @Model.Date.ToShortTimeString()</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>@Model.Status</td>
                    </tr>
                </table>

                <hr />

                <table>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>

                    @foreach (var entry in Model.Items.Keys)
                    {
                        <tr>
                            <th>
                                @entry.Name
                            </th>
                            <th>
                                @entry.Quantity
                            </th>
                            <th>
                                @entry.Price
                            </th>
                        </tr>
                    }

                    <tr>
                        <th></th>
                        <th></th>
                        <th>@Model.Sum $</th>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <input type="button" value="BACK TO LIST" style="background-color:#000000; color:#ffffff;" onclick="location.href='@Url.Action("GetOrders", "Order", new { id = userID })'" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>