@using App.Models;
@using Persistence.Model;
@model AnonymShippingInfos
@{
    ViewBag.Title = "Index";
}

@{
    string userID = HelperMethods.GetUserID(User, Session);

    Dictionary<Product, int> productList = HelperMethods.GetOrderListFromId(userID,Model.OrderID);
    double sum = 0;

    foreach (KeyValuePair<Product, int> item in productList)
    {
        sum += item.Key.Price * item.Value;
    }

    int SUM = (int)sum;


}

<div id="customBackground">
    <div valign="middle" id="detailView">
        <br />
        <h1>Successful order!</h1>
        <hr />
        
        <table>
            <tr>
                <th>Order No.</th>
                <td>@Model.OrderID</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>@Model.FirstName @Model.LastName</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <th>E-mail address</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Date of order</th>
                <td>@Model.DateOfOrder.ToShortDateString() @Model.DateOfOrder.ToShortTimeString()</td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <th></th>
                <th>
                    Product Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
            </tr>

            @foreach (KeyValuePair<Product, int> item in productList)
            {
            <tr>
                <td>
                    @if (item.Key.PhotoID != null)
                    {
                        <img src="@Url.Action("GetImage", "Products", new { id = item.Key.PhotoID })" width="80">
                    }
                    else
                    {
                        <img src="~/Images/DefaultImages/defaultProduct.png" width="80">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Price)
                </td>
            </tr>

            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>@SUM $</td>
            </tr>

        </table>
    </div>
</div>